<h1>Welcome Index</h1>
<p>Welcomes and 'logs' the user in</p>

<%# render 'form' %>

<%= link_to 'Login (auth not implemented)', home_index_path %>
<br><br>

<%= link_to 'New employee? Register here!', new_employee_path %>